{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<nav>
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('app_login') }}">Login</a></li>
        <li><a href="{{ path('app_logout') }}">Logout</a></li>
        <li><a href="{{ path('app_register') }}">Register</a></li>
        <li><a href="{{ path('app_forgot_password_request') }}">Reset Password</a></li>
        <li><a href="{{ path('subscription_change') }}">Change Subscription</a></li>
        <li><a href="{{ path('pdf_generation') }}">Generate PDF</a></li>
        <li><a href="{{ path('history') }}">History</a></li>
        <li><a href="{{ path('app_profile') }}">Profile</a></li>
    </ul>
</nav>

<h1>Welcome to the homepage!</h1>
{% endblock %}
