<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <style>
            nav a { margin-right: 15px; }
        </style>
    </head>
    <body>
        <nav>
            <a href="{{ path('app_home') }}">Home</a>
            <a href="{{ path('pdf_generate') }}">Generate PDF</a>
            <a href="{{ path('app_history') }}">History</a>
            <a href="{{ path('app_contacts') }}">Contacts</a>
            <a href="{{ path('app_subscription') }}">Subscription</a>
        </nav>
        <hr>

        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
